doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title
            block title
        link(rel="stylesheet", href="/index.css")
    body
        include header.pug
        main 
            .container 
                block content