header
    h1
        | Compositores e Períodos
    .container
        ul
            li
                a(href="/compositores") Compositores
            li
                a(href="/periodos") Períodos