extends layout

block content
    .w3-card-4
        header.w3-container.w3-light-blue
            .w3-bar.w3-border-bottom
                .w3-bar-item 
                        h1 #[b Trabalho Prático de EngWeb2024]
                        .w3-cell-row.w3-light-blue
                            .w3-cell
                                if u.is_logged
                                    h2 Bem-Vindo #{u.name}!
                                else 
                                    h2 Bem-Vindo!
                a.w3-bar-item.w3-button(href="/home" style="position:relative; top:10px;")
                      .w3-cell-row
                          .w3-cell
                              i.fa.fa-home(style="color: #000000;")
                          .w3-cell(style="width:80%")
                              h6 &nbsp;&nbsp;&nbsp; #[b Início]
            h3 &nbsp;&nbsp;&nbsp;#[b Opções de Disponíveis]
        
        .w3-container
            .w3-cell(style="width:5%;")
                i.fa.fa-angle-right(style="color: #000000;")
            .w3-cell(style="width:95%;")
                h3 &nbsp;&nbsp;&nbsp;Escolha uma opção:
            if u.is_logged
                if u.level == "Administrador"
                    ul.w3-ul.w3-card-4
                        li.w3-bar
                            span
                                .w3-bar-item
                                    .w3-bar-item
                                        a(href="/addAdmin") 
                                            span
                                                .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                                    i.fa.fa-user-plus(style="color: #000000;")
                                                .w3-container.w3-cell(style="width:90%; height: 80%")
                                                    .w3-large #[b Adicionar Administrador]
                                                        h6 Adicione um novos perfil de administrador
                        li.w3-bar
                            span
                                .w3-bar-item
                                    .w3-bar-item
                                        a(href="/gerirContas") 
                                            span
                                                .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                                    i.fa.fa-user-cog(style="color: #000000;")
                                                .w3-container.w3-cell(style="width:90%; height: 80%")
                                                    .w3-large #[b Gestão de Contas]
                                                        h6 Edite e/ou remova contas de utilizadores
                        li.w3-bar
                            span
                                .w3-bar-item
                                    .w3-bar-item
                                        a(href="/downloadData") 
                                            span
                                                .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                                    i.fa.fa-file-download(style="color: #000000;")
                                                .w3-container.w3-cell(style="width:90%; height: 80%")
                                                    .w3-large #[b Download de Dados]
                                                        h6 Transfira os dados completos da aplicação
                        li.w3-bar
                            span
                                .w3-bar-item
                                    .w3-bar-item
                                        a(href="/uploadDataPage") 
                                            span
                                                .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                                    i.fa.fa-file-upload(style="color: #000000;")
                                                .w3-container.w3-cell(style="width:90%; height: 80%")
                                                    .w3-large #[b Upload de Dados]
                                                        h6 Faça o upload de dados para a aplicação
                else
                    ul.w3-ul.w3-card-4
                        li.w3-bar
                            span
                                .w3-bar-item
                                    .w3-bar-item
                                        a(href=`/editUser/${u.username}`) 
                                            span
                                                .w3-container.w3-cell(style="width:10%; height: 80%; font-size: 24px;")
                                                    i.fa.fa-user-plus(style="color: #000000;")
                                                .w3-container.w3-cell(style="width:90%; height: 80%")
                                                    .w3-large #[b Edite o seu Perfil]
                                                        h6 Mude o seu nome ou username                                
        footer.w3-container.w3-light-blue.w3-center
            h5 André Pimentel Filipe, David da Silva Teixeira, João Manuel Novais da Silva e João Henrique Costa Ferreira | Engenharia Web 2024 - Universidade do Minho
            h5 Generado por EngWeb2024 in #{date}
